<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-situation-projet-heading"
        data-cy="SituationProjetCreateUpdateHeading"
        jhiTranslate="partenariatApp.situationProjet.home.createOrEditLabel"
      >
        Create or edit a Situation Projet
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partenariatApp.situationProjet.dateStatutValid" for="field_dateStatutValid"
            >Date Statut Valid</label
          >
          <div class="input-group">
            <input
              id="field_dateStatutValid"
              data-cy="dateStatutValid"
              type="text"
              class="form-control"
              name="dateStatutValid"
              ngbDatepicker
              #dateStatutValidDp="ngbDatepicker"
              formControlName="dateStatutValid"
            />
            <button type="button" class="btn btn-secondary" (click)="dateStatutValidDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('dateStatutValid')!.invalid &&
              (editForm.get('dateStatutValid')!.dirty || editForm.get('dateStatutValid')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateStatutValid')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partenariatApp.situationProjet.statutProjet" for="field_statutProjet"
            >Statut Projet</label
          >
          <input
            type="text"
            class="form-control"
            name="statutProjet"
            id="field_statutProjet"
            data-cy="statutProjet"
            formControlName="statutProjet"
          />
          <div
            *ngIf="editForm.get('statutProjet')!.invalid && (editForm.get('statutProjet')!.dirty || editForm.get('statutProjet')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('statutProjet')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="partenariatApp.situationProjet.projet" for="field_projet">Projet</label>
          <select
            class="form-control"
            id="field_projet"
            data-cy="projet"
            name="projet"
            formControlName="projet"
            [compareWith]="compareProjet"
          >
            <option *ngIf="editForm.get(['projet'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="projetOption" *ngFor="let projetOption of projetsSharedCollection">{{ projetOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['projet'])!.invalid && (editForm.get(['projet'])!.dirty || editForm.get(['projet'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['projet'])?.errors?.required" jhiTranslate="entity.validation.required">
            هذا الحقل مطلوب.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">الغاء</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">حفظ</span>
        </button>
      </div>
    </form>
  </div>
</div>
