<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="situationProjet">
      <h2 data-cy="situationProjetDetailsHeading">
        <span jhiTranslate="partenariatApp.situationProjet.detail.title">Situation Projet</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ situationProjet.id }}</span>
        </dd>
        <dt><span jhiTranslate="partenariatApp.situationProjet.dateStatutValid">Date Statut Valid</span></dt>
        <dd>
          <span>{{ situationProjet.dateStatutValid | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="partenariatApp.situationProjet.statutProjet">Statut Projet</span></dt>
        <dd>
          <span>{{ situationProjet.statutProjet }}</span>
        </dd>
        <dt><span jhiTranslate="partenariatApp.situationProjet.projet">Projet</span></dt>
        <dd>
          <div *ngIf="situationProjet.projet">
            <a [routerLink]="['/projet', situationProjet.projet.id, 'view']">{{ situationProjet.projet.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">رجوع</span>
      </button>

      <button type="button" [routerLink]="['/situation-projet', situationProjet.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">تعديل</span>
      </button>
    </div>
  </div>
</div>
