<div>
  <h2 id="page-heading" data-cy="DomaineProjetHeading">
    <span jhiTranslate="partenariatApp.domaineProjet.home.title">Domaine Projets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="partenariatApp.domaineProjet.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-domaine-projet"
        [routerLink]="['/domaine-projet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="partenariatApp.domaineProjet.home.createLabel"> Create a new Domaine Projet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="domaineProjets?.length === 0">
    <span jhiTranslate="partenariatApp.domaineProjet.home.notFound">No Domaine Projets found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="domaineProjets && domaineProjets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="designationAr">
            <div class="d-flex">
              <span jhiTranslate="partenariatApp.domaineProjet.designationAr">Designation Ar</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="designationFr">
            <div class="d-flex">
              <span jhiTranslate="partenariatApp.domaineProjet.designationFr">Designation Fr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domaineProjet of domaineProjets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/domaine-projet', domaineProjet.id, 'view']">{{ domaineProjet.id }}</a>
          </td>
          <td>{{ domaineProjet.designationAr }}</td>
          <td>{{ domaineProjet.designationFr }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/projet']"
                [queryParams]="{ 'filter[domaineProjetId.in]': domaineProjet.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('partenariatApp.domaineProjet.projet' | translate) }"
                  >Show Projet</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/domaine-projet', domaineProjet.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">عرض</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/domaine-projet', domaineProjet.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">تعديل</span>
              </button>

              <button type="submit" (click)="delete(domaineProjet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">حذف</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="domaineProjets && domaineProjets.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
